<!-- NAVBAR CATEGORIAS -->
<div class="navCategoria">
    <container class="navbar categoria-fixa" id="navCategoria"></container>
</div>

<div class="bg_gray containerMain">

    <div class="bg_gray categoria">
        <!-- CATEGORIAS E PRODUTOS -->
        <div class="container margin_detail ">
            <div class="row">
                <div class="list_menu">
                    <div class="list_menu" id="nomeCategoria"></div>
                </div>
            </div>
        </div>
    </div>