<%- include ('../partials/header.ejs') %>

    <body>
        <%/* - include ('../partials/cabecalho1.ejs')  */%>

        <main class="bg_gray">

            <%- include ('../partials/cardapio/cabecalho2.ejs') %>
            <div style="padding: 1px;">
               <%- include ('../partials/cardapio/categoria') %> 
            </div>
            
            
        
        </div> <!-- Fechando div main-->
                
        </main>
    </body>
<%- include ('../partials/footer.ejs') %>